.img__header {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.app__nav {
	
    display: inline-block; /* Make links appear inline */
    width: 100%;
    max-width: 100%;
    padding: 0 0.4rem;
    height: 82px;
    background-color: #1b6ef300;
}

.app__nav>a {
    display: none;
}

.nav__center {
    width: 1400px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.nav__menu {
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    gap: 1.2rem;
}

.nav__menu a {
    color: #232323;
    text-decoration: none;
    font-family: verdana;
    font-size: 1.12rem;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease;
    padding: 0.4rem;
    outline: none;
}

.sm__screen {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .nav__center a:is(:hover, :focus-visible) {
        border-color: #232323;
    }
}

@media all and (max-width: 1400px) {

    .app__nav {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .app__nav>a {
        color: #232323;
        text-decoration: none;
        font-family: verdana;
        font-size: 1.12rem;
        border-bottom: 1px solid transparent;
        transition: border 0.3s ease;
        padding: 0.4rem;
        outline: none;
        display: block;
    }

    .app__nav>a:last-child {
        flex: 1;
    }

    .sm__screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 101;
        margin-right: 24px;
        right: 0;
    }

    .sm__screen ion-icon {
        font-size: 2rem;
    }

    .nav__center {
        flex: 0;
        margin: 0;
    }

    .nav__menu {
        position: absolute;
        width: 280px;
        height: 100vh;
        background-color: #00BB00;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        right: 0;
        top: 0;
        padding: 0.6rem;
        transform: translateX(900px);
        transition: transform 0.3s ease;
        z-index: 100;
        padding-top: 6rem;
    }

    .nav__menu>a:nth-child(1),
    .nav__menu>a:nth-child(2),
    .nav__menu>a:nth-child(3) {
        display: none;
    }

    .nav__menu.visible {
        transform: translateX(0px);
    }
}